<form action="/lists" method="post">
    <label for="tripType">Add your trip type.</label>
    <input id="tripType" name="tripType" type="text">
    <br>
    <label for="gear">Add your gear.</label>
    <input id="gear" name="gear" type="text">
    <br>
    <label for="destination">Add your destination.</label>
    <input id="destination" name="destination" type="text">
    <br>
    <label for="directions">Add direction notes.</label>
    <input id="directions" name="directions" type="text">
    <br>
    <button type="submit">Add trip</button>
</form>