<h1>Trip Details: </h1>

<h2>@Model.TripType</h2>
    <ul>
        <li>Gear needed: @Model.Gear</li>
        <li>Destination: @Model.Destination</li>
        <li>Directions: @Model.Directions</li>
    </ul>
<a href='/lists/new'>Add another trip</a>
<a href='/lists'>View all trips</a>